@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/fregan-serif');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #B34769;
    --secondary-color: #ebd8de;
}

body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fregan Serif', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}



a {
    text-decoration: none;

}

li {
    list-style: none;

}

footer p {
    text-align: center;
    font-size: 12px;
}

.header {
    padding: 16px 0;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);

}

.container {
    max-width: 1080px;
    margin: 0 auto;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar h3 a {
    font-size: 24px;
    color: inherit;
    letter-spacing: 2px;
}

.navbar h3 a span {
    font-size: 32px;
    color: var(--primary-color);
}


.header-links {
    display: flex;
    gap: 16px;
}

.hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

}


.hero-wrapper {
    background-color: var(--secondary-color);

}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-btn {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}

.hero-btn .btn-secondary {
    border: 2px solid;
}

.hero-socials {
    display: flex;
    gap: 24px;
    margin-top: 70px;
    font-size: 24px;

}

.hero-socials a {
    border: solid 2px;
    border-radius: 100%;
    padding: 4px;
    color: var(--primary-color);

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding-block: 12px;
}

.btn-primary:hover {
    color: #ece1e4;
    background-color: #c6708b;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid;
}

.btn-secondary:hover {
    background-color: #efdcdf;
    color: #bf778e;
}

/* Skills */
.skills-title {
    font-size: 32px;
    margin-block-start: 60px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-block: 20px;
}

.skill-card {
    background-color: var(--secondary-color);
    padding: 24px 16px;
    border-radius: 12px;
    margin-block-end: 60px;
}

.skill-icon {
    color: var(--primary-color);
    font-size: 32px;
    margin-bottom: 16px;
}

.skill-text h3 {
    font-size: 24px;
    margin-bottom: 12px;
}
.skill-text p {
    color: #535051;
}


.profile {
    color: var(--primary-color);
    text-decoration: underline;
}

.navlink:link,
.navlink:visited {
    color: #B34769;

}

.navlink:hover {
    color: #31101b;
    text-decoration: underline;
}

.contact-section {
    margin-top: 60px;
    background-color: var(--secondary-color);
    padding: 60px;
    color: var(--primary-color);
    border-radius: 16px;
}

.contact-section>h3 {
    text-align: center;
    font-size: 32px;

}

.contact-wrapper {
    display: flex;
    gap: 32px;

}

.contact-wrapper>form {
    flex-grow: 1;
}

.projects h3 {
    font-size: 32px;
}

.project-category span {
    display: inline-flex;
    align-items: center;
    border-radius: 80px;
    height: 30px;
    padding: 20px 20px;
    margin: 4px;
    border: var(--primary-color) 1px solid;
    cursor: pointer;
}

.project-category span:hover {
    background-color: var(--secondary-color);
    /* color: var(--primary-color); */

}

.project-category span.active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    outline: none;
}

.project-card-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    /* padding: 0 150px; */
}

.project-card {
    border-radius: 12px;
    background-color: whitesmoke;
}

.project-card>img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.project-text {
    padding: 24px;
}

.project-title {
    font-size: 24px;
    margin-bottom: 8px;
}

.project-description {
    color: #535353;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;

    overflow: hidden;
}

.project-tech {
    padding: 24px;
}

.project-tech span {
    display: inline-flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 80px;
    height: 30px;
    padding: 0 16px;
    margin: 4px;
    color: var(--primary-color);

}

input,
textarea {
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    width: 100%;
    background-color: #f29cb7;
    color: #fff;

}

input::placeholder,
textarea::placeholder {
    color: var(--primary-color);
}

textarea {
    height: 400px;
}

form .btn{
    border: none;
}

.footer-section {
    border-top: 1px solid #e7d6dc;
    padding: 18px;
    background-color: #b347692e;
    margin-top: 60px;
}